[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
tabulate = "*"
openpyxl = "*"
lxml = "*"
html5lib = "*"
beautifulsoup4 = "*"
ipython-sql = "*"
sqlalchemy = "*"
feather-format = "*"
matplotlib = "*"
xlrd = "*"
scipy = "*"
ipykernel = "*"
jupyterlab = "*"
pexpect = "*"

[requires]
python_version = "3.8"
