pandas 
Faker

scikit-learn
tensorflow
scipy 
#wordcloud 

matplotlib 
seaborn
plotly

html5lib 
beautifulsoup4 

sqlalchemy 
feather-format 
tabulate 
lxml 
requests

openpyxl 
xlrd 

pexpect 

ipykernel 
jupyterlab 
ipython-sql 

jupyterlab-git
jupyterlab-drawio
jupyterlab-spreadsheet-editor

prettytable
pprintpp

gdown