tabulate
openpyxl
xlsxwriter
pydrive
lxml
html5lib
beautifulsoup4
ipython-sql
sqlalchemy
feather-format
matplotlib
xlrd
scipy
faker
gdown
elyra-code-snippet-extension
pivottablejs
itables
world-bank-data
tabula-py
pandas-profiling
pandas==1.3.5
duckdb
duckdb-engine
pyarrow
chardet
pandas_datareader

jupyterlab