[Unit]
Description=Portainer Service
After=docker.service
Requires=docker.service
 
[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=-/usr/bin/docker pull $JUPYTERLAB_IMAGE
ExecStart=/usr/bin/docker run  --name %n -p 80:8888 -v /opt/jupyterlab/notebooks:/home/notebooks -e JUPYTERLAB_TOKEN=$JUPYTERLAB_TOKEN --rm $JUPYTERLAB_IMAGE
 
[Install]
WantedBy=multi-user.target
            